{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<!--
        Awesome Template
        http://www.templatemo.com/preview/templatemo_450_awesome
        -->
		<title>Donate</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	
		<link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		<script src="{% static 'js/jquery.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/jquery.singlePageNav.min.js' %}"></script>
		<script src="{% static 'js/typed.js' %}"></script>
		<script src="{% static 'js/wow.min.js' %}"></script>
		<script src="{% static 'js/custom.js' %}"></script>
	</head>
	<body id="top">

		<!-- start preloader -->
		<div class="preloader">
			<div class="sk-spinner sk-spinner-wave">
     	 		<div class="sk-rect1"></div>
       			<div class="sk-rect2"></div>
       			<div class="sk-rect3"></div>
      	 		<div class="sk-rect4"></div>
      			<div class="sk-rect5"></div>
     		</div>
    	</div>
    	<!-- end preloader -->

        <!-- start header -->
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <p><i class="fa fa-phone"></i><span> Phone</span>010-020-0340</p>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <p><i class="fa fa-envelope-o"></i><span> Email</span><a href="#"> chantalfrancoiseortegarauche@gmail.com</a></p>
                    </div>
                    <div class="col-md-5 col-sm-4 col-xs-12">
                        <ul class="social-icon">
                            <li><span>Meet us on</span></li>
                            <li><a href="#" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-instagram"></a></li>
                            <li><a href="#" class="fa fa-whatsapp"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <!-- end header -->

    	<!-- start navigation -->
		<nav class="navbar navbar-default templatemo-nav" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon icon-bar"></span>
						<span class="icon icon-bar"></span>
						<span class="icon icon-bar"></span>
					</button>
					<a href="#" class="navbar-brand">!Darowizna</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#top">HOME</a></li>
						<li><a href="#about">ABOUT</a></li>
						<li><a href="#portfolio">PARTNER</a></li>
						<li><a href="#contact">CONTACT</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- end navigation -->

    	<!-- start home -->
    	<section id="home">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-offset-2 col-md-8">
    					<h1 class="wow fadeIn" data-wow-offset="50" data-wow-delay="0.9s">Witamy na platformie <span> !darowizna</span></h1>
    					<div class="element">
                            <div class="sub-element">Cześć, to jest platforma darowizn.</div>
                            <div class="sub-element">Na tej platformie zapewniona jest poufność i anonimowość.</div>
                            <div class="sub-element">Możesz nam zaufać.</div>
                        </div>
    					<a data-scroll href="#about" class="btn btn-default wow fadeInUp" data-wow-offset="50" data-wow-delay="0.6s">GET STARTED</a>
    				</div>
    			</div>
    		</div>
    	</section>
    	<!-- end home -->

    	<!-- start about -->
		<section id="about">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
    					<h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">Dowiedz się więcej o <span>darowiznie</span></h2>
    				</div>
					<div class="col-md-6 col-sm-8 col-xs-12 wow fadeInUp" style="justify-content: center;justify-items: center;" data-wow-offset="50" data-wow-delay="0.6s">
						<div class="media">
							<div class="media-heading-wrapper">
								<div class="media-object pull-left">
									<i class="fa fa-comment-o"></i>
								</div>
								<h3 class="media-heading" style="color: #28a7e9">Opis</h3>
							</div>
							<div class="media-body">
								<p>Nazywam się Majorie PUTT. Jestem Ekwadorczykiem, ale obecnie mieszkam we Francji. Cierpię na śmiertelną chorobę                                                
        (rak gardła) i ta choroba skazuje mnie na pewną śmierć według analiz mojego lekarza. Z tego powodu chciałbym przekazać
            moje pieniądze, które mam na koncie bankowym 1 645 000 euro (jeden milion sześćset czterdzieści pięć tysięcy euro) i moją
                firmę obcokrajowcowi, który może pomóc ludziom wokół niego, ponieważ straciłem męża 3 lata temu i nigdy nie mieliśmy dziecka,
                ponieważ był bezpłodny. </p>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-4 col-xs-12 wow fadeInRight" style="justify-content: center;justify-items: center;"  data-wow-offset="50" data-wow-delay="0.6s">
						<div class="media">
							<div class="media-heading-wrapper">
								<div class="media-object pull-right">
									<i class="fa fa-comment-o"></i>
								</div>
								<h3 class="media-heading" style="color: #28a7e9">Następny</h3>
							</div>
							<div class="media-body">
								<p>Ale przed śmiercią mojego męża zawsze pomagał organizacjom humanitarnym, ale okazało się, że „za każdym 
               razem, gdy przekazujemy darowizny organizacjom humanitarnym, korzystają tylko liderzy, dlatego zdecydowałem się przekazać tę kwotę
           na obcokrajowiec, który może pomóc ludziom wokół niego i podczas podróży, które odbyłem w kilku krajach, zdecydowałem się przekazać
           darowiznę komuś z innego kraju niż mój, ponieważ w innych krajach jest znacznie więcej towarzyskości niż w moim. Chciałbym przekazać
    darowiznę jak najszybciej, a jeśli ktoś jest tutaj zainteresowany, może napisać do mnie prywatnie na mój adres e-mail: chantalfrancoiseortegarauche@gmail.com. </p>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</section>
		
    	<!-- start portfolio -->
    	<section id="portfolio">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-12">
    					<h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">Nasi <span>partnerzy</span></h2>
    				</div>
    				
                    <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                        <div class="portfolio-thumb">
                           <img src="{% static 'images/buy.jpeg' %}" class="img-responsive" alt="portfolio img 1">
                                <div class="portfolio-overlay">
                                    
                                </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                        <div class="portfolio-thumb">
                           <img src="{% static 'images/ok.jpg' %}" class="img-responsive" alt="portfolio img 2">
                                <div class="portfolio-overlay">
                                    
                                </div>
                        </div>
                    </div>
					<div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                        <div class="portfolio-thumb">
                           <img src="{% static 'images/cool.jpg' %}" class="img-responsive" alt="portfolio img 2">
                                <div class="portfolio-overlay">
                                    
                                </div>
                        </div>
                    </div>
					<div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                        <div class="portfolio-thumb">
                           <img src="{% static 'images/drap.jpg' %}" class="img-responsive" alt="portfolio img 2">
                                <div class="portfolio-overlay">
                                    
                                </div>
                        </div>
                    </div>
    			</div>
    		</div>
    	</section>
    	<!-- end portfolio -->

    	<!-- start contact -->
    	<section id="contact">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-12">
    					<h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">kontakt <span>darowizna</span></h2>
    				</div>
    				<!-- <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.9s">
						{%  csrf_token %}
    					
						<form action="/contact" method="POST">
    						<label>NAME</label>
    						<input name="fullname" type="text" class="form-control" id="name">
   						  	
                            <label>EMAIL</label>
    						<input name="email" type="email" class="form-control" id="email">
   						  	
                            <label>MESSAGE</label>
    						<textarea name="message" rows="4" class="form-control" id="message"></textarea>
    						
                            <input type="submit" class="form-control">
    					</form>
    				</div> -->
    				<div class="col-md-6 col-sm-6 col-xs-12 wow fadeInRight" data-wow-offset="50" data-wow-delay="0.6s">
    					<address>
    						<p class="address-title">NASZE ADRESY</p>
    						<span>W celu uzyskania jakichkolwiek informacji wypełnij poniższy formularz.</span>
    						<p><i class="fa fa-phone"></i> 010-020-0340</p>
    						<p><i class="fa fa-envelope-o"></i> chantalfrancoiseortegarauche@gmail.com.</p>
    						<p><i class="fa fa-map-marker"></i> Avenue du General du Bordeau 04 BP 3238 - FRANCE</p>
    					</address>
    					<!-- <ul class="social-icon">
    						<li><h4>WE ARE SOCIAL</h4></li>
    						<li><a href="#" class="fa fa-facebook"></a></li>
    						<li><a href="#" class="fa fa-twitter"></a></li>
    						<li><a href="#" class="fa fa-instagram"></a></li>
    					</ul> -->
    				</div>
    			</div>
    		</div>
    	</section>
    	<!-- end contact -->

        <!-- start copyright -->
        <footer id="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p >
                       	Copyright - 2023 Darowizna </p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end copyright -->

	</body>
</html>